# Trabalho Final

## Utilizando agrupamento nebuloso para analisar relação das vulnerabilidades demográficas e socioeconômicas dos municípios brasileiros com os efeitos da Covid-19

### Preparação dos dados

In [1]:
import pandas as pd

#### Registros administrativos

In [2]:
df_registros_administrativos =  pd.read_csv('dados/registros_administrativos.csv', decimal=',', sep=';')

In [3]:
df_registros_administrativos.head()

,ANO,DESAGREGACAO,IBGE7,NOME,PMATPUB_EF,PMATPUB_EM,PMATPRI_EF,PMATPRI_EM,DIST_EF_TOTAL,DIST_EM_TOTAL,...,SNIS_CDI,PFOCOS,PFLORA,PFEM_VEREADOR,PFEM_PREFEITO,PFEM_GOVERNADOR,PFEM_DEP_ESTADUAL,PFEM_DEP_FEDERAL,PFEM_SENADOR,POP_TOT
0,2013,TOTAL,1100015,Alta Floresta D&apos;Oeste,99.26,100.00,0.74,NaN,25.8,29.6,...,100.0,0.51,66.02,20.00,0.0,NaN,NaN,NaN,NaN,25728
1,2013,TOTAL,1100023,Ariquemes,91.12,94.80,8.88,5.20,24.5,27.1,...,100.0,0.49,34.67,7.69,0.0,NaN,NaN,NaN,NaN,101269
2,2013,TOTAL,1100031,Cabixi,100.00,100.00,NaN,NaN,18.1,18.7,...,100.0,0.13,32.01,11.11,0.0,NaN,NaN,NaN,NaN,6495
3,2013,TOTAL,1100049,Cacoal,85.55,82.90,14.45,17.10,19.3,24.6,...,100.0,0.13,37.07,8.33,0.0,NaN,NaN,NaN,NaN,85863
4,2013,TOTAL,1100056,Cerejeiras,97.18,97.47,2.82,2.53,21.1,21.1,...,NaN,0.19,63.12,0.00,0.0,NaN,NaN,NaN,NaN,18041

In [4]:
df_registros_administrativos.describe()

,ANO,IBGE7,PMATPUB_EF,PMATPUB_EM,PMATPRI_EF,PMATPRI_EM,DIST_EF_TOTAL,DIST_EM_TOTAL,DIST_EF_PRI,DIST_EM_PRI,...,SNIS_CDI,PFOCOS,PFLORA,PFEM_VEREADOR,PFEM_PREFEITO,PFEM_GOVERNADOR,PFEM_DEP_ESTADUAL,PFEM_DEP_FEDERAL,PFEM_SENADOR,POP_TOT
count,27850.000000,2.785000e+04,27850.000000,27803.000000,15071.000000,7944.000000,27847.000000,27797.000000,7603.000000,4600.000000,...,18083.000000,27145.000000,27850.000000,27838.000000,27788.000000,0.0,0.0,0.0,0.0,2.785000e+04
mean,2015.000000,3.253591e+06,94.735386,96.829962,9.728589,11.094739,20.118253,30.474443,4.695910,8.328783,...,97.313887,0.183969,38.760223,13.595285,11.778466,NaN,NaN,NaN,NaN,3.669636e+04
std,1.414239,9.848396e+05,7.657890,6.599939,8.058558,8.033184,10.644338,14.119035,6.801123,12.069058,...,9.058070,0.720546,27.381110,11.149825,32.235876,NaN,NaN,NaN,NaN,2.155577e+05
min,2013.000000,1.100015e+06,46.030000,25.450000,0.020000,0.090000,0.000000,0.000000,0.000000,0.000000,...,0.860000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,8.120000e+02
25%,2014.000000,2.512101e+06,91.420000,96.545000,3.400000,5.240000,11.500000,19.900000,1.700000,2.800000,...,99.900000,0.010000,14.970000,6.670000,0.000000,NaN,NaN,NaN,NaN,5.449000e+03
50%,2015.000000,3.146280e+06,99.000000,100.000000,7.840000,9.185000,18.500000,29.000000,3.200000,5.100000,...,100.000000,0.020000,32.500000,11.110000,0.000000,NaN,NaN,NaN,NaN,1.150500e+04
75%,2016.000000,4.119202e+06,100.000000,100.000000,13.900000,14.902500,27.900000,39.800000,5.800000,8.800000,...,100.000000,0.080000,60.440000,22.220000,0.000000,NaN,NaN,NaN,NaN,2.490475e+04
max,2017.000000,5.300108e+06,100.000000,100.000000,53.970000,74.550000,66.000000,84.400000,100.000000,100.000000,...,100.000000,32.190000,99.710000,66.670000,100.000000,NaN,NaN,NaN,NaN,1.210692e+07

In [5]:
df_registros_administrativos = df_registros_administrativos[df_registros_administrativos.ANO == 2017]
df_registros_administrativos.describe()

,ANO,IBGE7,PMATPUB_EF,PMATPUB_EM,PMATPRI_EF,PMATPRI_EM,DIST_EF_TOTAL,DIST_EM_TOTAL,DIST_EF_PRI,DIST_EM_PRI,...,SNIS_CDI,PFOCOS,PFLORA,PFEM_VEREADOR,PFEM_PREFEITO,PFEM_GOVERNADOR,PFEM_DEP_ESTADUAL,PFEM_DEP_FEDERAL,PFEM_SENADOR,POP_TOT
count,5570.0,5.570000e+03,5570.000000,5561.000000,3019.000000,1577.000000,5570.000000,5560.000000,2640.000000,1576.000000,...,3556.000000,5429.000000,5570.000000,5566.000000,5520.000000,0.0,0.0,0.0,0.0,5.570000e+03
mean,2017.0,3.253591e+06,94.461393,96.935407,10.218635,10.806722,18.716050,30.406421,4.329167,8.062690,...,97.554311,0.183877,38.732122,13.725992,11.539855,NaN,NaN,NaN,NaN,3.728203e+04
std,0.0,9.849103e+05,7.986826,6.497215,8.358757,8.075071,10.050518,13.662076,6.816884,12.250456,...,8.139765,0.883934,27.189855,11.187382,31.953125,NaN,NaN,NaN,NaN,2.183999e+05
min,2017.0,1.100015e+06,51.280000,25.450000,0.070000,0.180000,0.000000,0.000000,0.000000,0.000000,...,20.150000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,8.120000e+02
25%,2017.0,2.512126e+06,90.822500,96.940000,3.610000,4.980000,10.600000,20.475000,1.400000,2.700000,...,99.770000,0.010000,15.112500,6.670000,0.000000,NaN,NaN,NaN,NaN,5.501500e+03
50%,2017.0,3.146280e+06,98.990000,100.000000,8.310000,8.940000,17.000000,29.100000,2.900000,4.900000,...,100.000000,0.020000,32.325000,11.110000,0.000000,NaN,NaN,NaN,NaN,1.163550e+04
75%,2017.0,4.119190e+06,100.000000,100.000000,14.510000,14.430000,26.200000,39.425000,5.400000,8.500000,...,100.000000,0.070000,60.270000,22.220000,0.000000,NaN,NaN,NaN,NaN,2.528975e+04
max,2017.0,5.300108e+06,100.000000,100.000000,48.720000,74.550000,58.900000,82.600000,100.000000,100.000000,...,100.000000,32.190000,99.670000,63.640000,100.000000,NaN,NaN,NaN,NaN,1.210692e+07

PINTERDRSAI	Percentual de internações por doenças relacionadas ao saneamento ambiental inadequado

In [6]:
df_registros_administrativos.PINTERDRSAI.describe()

count    5570.000000
mean        3.159237
std         4.647302
min         0.000000
25%         0.590000
50%         1.460000
75%         3.707500
max        58.030000
Name: PINTERDRSAI, dtype: float64

PINTERSAP	Percentual de internações por condições sensíveis à atenção primária

In [7]:
df_registros_administrativos.PINTERSAP.describe()

count    5570.000000
mean       23.816684
std        10.743033
min         0.000000
25%        16.082500
50%        21.630000
75%        29.157500
max        77.780000
Name: PINTERSAP, dtype: float64

TXBRUTAMORT	Taxa bruta de mortalidade

In [8]:
df_registros_administrativos.TXBRUTAMORT.describe()

count    5568.000000
mean        6.518770
std         1.812354
min         1.260000
25%         5.330000
50%         6.450000
75%         7.660000
max        15.510000
Name: TXBRUTAMORT, dtype: float64

TXCOBPLP	Percentual de pessoas cobertas por planos de saúde suplementar

In [9]:
df_registros_administrativos.TXCOBPLP.describe()

count    5558.000000
mean        8.352510
std        10.805886
min         0.010000
25%         1.170000
50%         3.830000
75%        11.540000
max       221.600000
Name: TXCOBPLP, dtype: float64

#### IDHM

In [10]:
df_idhm =  pd.read_csv('dados/idhm.csv', decimal=',', sep=';')
df_idhm.head()

,TERRITORIALIDADE,POSICAO_IDHM,IDHM,POSICAO_IDHM_RENDA,IDHM_RENDA,POSICAO_IDHM_EDUCACAO,IDHM_EDUCACAO,POSICAO_IDHM_LONGEVIDADE,IDHM_LONGEVIDADE
0,São Caetano do Sul (SP),1,0.862,8,0.887,2,0.811,1,0.891
1,Águas de São Pedro (SP),2,0.854,5,0.890,1,0.825,11,0.849
2,Florianópolis (SC),3,0.847,22,0.873,5,0.800,4,0.870
3,Balneário Camboriú (SC),4,0.845,1,0.894,6,0.789,9,0.854
4,Vitória (ES),4,0.845,40,0.855,4,0.805,3,0.876

In [11]:
df_idhm.describe()

,POSICAO_IDHM,IDHM,POSICAO_IDHM_RENDA,IDHM_RENDA,POSICAO_IDHM_EDUCACAO,IDHM_EDUCACAO,POSICAO_IDHM_LONGEVIDADE,IDHM_LONGEVIDADE
count,5565.000000,5565.000000,5565.000000,5565.000000,5565.000000,5565.000000,5565.000000,5565.000000
mean,165.847260,0.659157,93.431447,0.801564,217.827314,0.559094,195.208446,0.642873
std,71.713728,0.071997,44.669252,0.044681,92.707789,0.093328,80.174354,0.080662
min,1.000000,0.418000,1.000000,0.672000,1.000000,0.207000,1.000000,0.400000
25%,107.000000,0.599000,59.000000,0.769000,146.000000,0.490000,131.000000,0.572000
50%,160.000000,0.665000,87.000000,0.808000,217.000000,0.560000,184.000000,0.654000
75%,226.000000,0.718000,126.000000,0.836000,287.000000,0.631000,266.000000,0.707000
max,349.000000,0.862000,220.000000,0.894000,466.000000,0.825000,390.000000,0.891000

#### Estimativa da população

In [12]:
df_estimativa_populacao =  pd.read_csv('dados/estimativa_populacao.csv', sep=';')
df_estimativa_populacao = df_estimativa_populacao.astype({'COD_UF': str, 'COD_MUNIC': str, 'POPULACAO_ESTIMADA': int})
df_estimativa_populacao = df_estimativa_populacao.rename(columns={'UF': 'ESTADO', 'NOME_MUNICIPIO': 'MUNICIPIO',
                                                                  'COD_UF': 'CODIGO_ESTADO',
                                                                  'COD_MUNIC': 'CODIGO_MUNICIPIO'})
df_estimativa_populacao.head()

,ESTADO,CODIGO_ESTADO,CODIGO_MUNICIPIO,MUNICIPIO,POPULACAO_ESTIMADA
0,RO,11,15,Alta Floresta D'Oeste,22728
1,RO,11,23,Ariquemes,109523
2,RO,11,31,Cabixi,5188
3,RO,11,49,Cacoal,85893
4,RO,11,56,Cerejeiras,16204

In [13]:
df_estimativa_populacao.describe()

       POPULACAO_ESTIMADA
count        5.570000e+03
mean         3.801718e+04
std          2.228930e+05
min          7.760000e+02
25%          5.442250e+03
50%          1.166550e+04
75%          2.566375e+04
max          1.232523e+07

#### Preparação do datra frame principal

In [14]:
df = pd.DataFrame(df_idhm[['TERRITORIALIDADE', 'IDHM_RENDA', 'IDHM_EDUCACAO', 'IDHM_LONGEVIDADE']])

df['ESTADO'] = df.TERRITORIALIDADE.str[-3:-1]
df['MUNICIPIO'] = df.TERRITORIALIDADE.str[:-5]

df.MUNICIPIO.replace('Westfalia', 'Westfália', inplace=True)
df.MUNICIPIO.replace('Lauro Muller', 'Lauro Müller', inplace=True)
df.MUNICIPIO.replace('Embu', 'Embu das Artes', inplace=True)
df.MUNICIPIO.replace('Vespasiano Correa', 'Vespasiano Corrêa', inplace=True)
df.MUNICIPIO.replace('Florínia', 'Florínea', inplace=True)
df.MUNICIPIO.replace('Biritiba-Mirim', 'Biritiba Mirim', inplace=True)
df.MUNICIPIO.replace('Dona Eusébia', 'Dona Euzébia', inplace=True)
df.MUNICIPIO.replace('São Luís do Paraitinga', 'São Luiz do Paraitinga', inplace=True)
df.MUNICIPIO.replace('Brasópolis', 'Brazópolis', inplace=True)
df.MUNICIPIO.replace('Restinga Seca', 'Restinga Sêca', inplace=True)
df.MUNICIPIO.replace('Itaóca', 'Itaoca', inplace=True)
df.MUNICIPIO.replace('Poxoréo', 'Poxoréu', inplace=True)
df.MUNICIPIO.replace('São Luíz do Norte', 'São Luiz do Norte', inplace=True)
df.MUNICIPIO.replace('São Thomé das Letras', 'São Tomé das Letras', inplace=True)
df.MUNICIPIO.replace('São Cristovão do Sul', 'São Cristóvão do Sul', inplace=True)
df.MUNICIPIO.replace('Fortaleza do Tabocão', 'Tabocão', inplace=True)
df.MUNICIPIO.replace('Santa Isabel do Pará', 'Santa Izabel do Pará', inplace=True)
df.MUNICIPIO.replace('Passa-Vinte', 'Passa Vinte', inplace=True)
df.MUNICIPIO.replace('Itapagé', 'Itapajé', inplace=True)
df.MUNICIPIO.replace('Augusto Severo', 'Campo Grande', inplace=True)
df.MUNICIPIO.replace('Ererê', 'Ereré', inplace=True)
df.MUNICIPIO.replace('Iguaraci', 'Iguaracy', inplace=True)
df.MUNICIPIO.replace('Iuiú', 'Iuiu', inplace=True)
df.MUNICIPIO.replace('Gracho Cardoso', 'Graccho Cardoso', inplace=True)
df.MUNICIPIO.replace('Araças', 'Araçás', inplace=True)
df.MUNICIPIO.replace('Eldorado dos Carajás', 'Eldorado do Carajás', inplace=True)
df.MUNICIPIO.replace('Seridó', 'São Vicente do Seridó', inplace=True)
df.MUNICIPIO.replace('Muquém de São Francisco', 'Muquém do São Francisco', inplace=True)
df.loc[df.TERRITORIALIDADE == 'São Vicente Ferrer (PE)', 'MUNICIPIO'] = 'São Vicente Férrer'
df.loc[df.TERRITORIALIDADE == 'Santarém (PB)', 'MUNICIPIO'] = 'Joca Claudino'
df.loc[df.TERRITORIALIDADE == 'Quixabá (PB)', 'MUNICIPIO'] = 'Quixaba'
df.loc[df.TERRITORIALIDADE == 'Presidente Juscelino (RN)', 'MUNICIPIO'] = 'Serra Caiada'

df.MUNICIPIO = df.MUNICIPIO.str.upper()
df_estimativa_populacao.MUNICIPIO = df_estimativa_populacao.MUNICIPIO.str.upper()

df = pd.merge(df_estimativa_populacao, df, how="left", on=['ESTADO', 'MUNICIPIO'])

df.drop(columns='TERRITORIALIDADE', inplace=True)

df.head()

,ESTADO,CODIGO_ESTADO,CODIGO_MUNICIPIO,MUNICIPIO,POPULACAO_ESTIMADA,IDHM_RENDA,IDHM_EDUCACAO,IDHM_LONGEVIDADE
0,RO,11,15,ALTA FLORESTA D'OESTE,22728,0.763,0.526,0.657
1,RO,11,23,ARIQUEMES,109523,0.806,0.600,0.716
2,RO,11,31,CABIXI,5188,0.757,0.559,0.650
3,RO,11,49,CACOAL,85893,0.821,0.620,0.727
4,RO,11,56,CEREJEIRAS,16204,0.799,0.602,0.688